---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.name }}</h1>
  </header>

  <div class="post-content">

<style>
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer; overflow: hidden;
    outline:none;
    color: #a00;
}
button:focus{
   color:#595959;
}
</style>

<script>
function Copy(id){
navigator.clipboard.writeText("https://carlosoliver.co/quotes/"+author+".html#" + id);
}

</script>

    {{ content }}

  </div>

</article>
